@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 1900px;
    height: 1000px;
}
@keyframes water {
    0% {
        background-color:navy;
    }
    25% {
        background-color:mediumblue;
    }
    50% {
        background-color: darkblue;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color:royalblue;
    }
}
#game_field {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    width: 1900px;
    height: 1000px;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: water;
}
#laurazia, #gondvana, #ocean {
    display: flex;
}
#table {
    display: none;
    background-color: chocolate;
    width: 1900px;
    height: 1000px;
    gap: 15px;
    flex-wrap: wrap;
}
.active {
    display: flex;
    width: 1900px !important;
    height: 1000px !important;
    margin: 0 !important;
    padding: 0 !important;
    transition: all 1s !important;
}
.latent {
    display: none;
}
#laurazia {
    margin-left: 10%;
    margin-top: 3%;
    width: 80%;
    height: 80%;
    border-radius: 50px;
    background-color: #5FAD47;
    transition: all 2s;
    box-shadow: -5px -5px 3px darkgreen, 5px 5px 3px darkgreen;
}
#gondvana {
    margin-left: 7.5%;
    margin-bottom: 3%;
    width: 85%;
    height: 85%;
    border-radius: 30px;
    background-color: goldenrod;
    transition: all 2s;
    box-shadow: -7px -7px 3px darkgoldenrod, 7px 7px 3px darkgoldenrod;
}
.entity.reverse .entInfo{
    transform: scale(-1, 0);
    background-image: none;
}
.entity {
    display: flex;
    flex-direction: column;
    background-image: url(./Light_green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: forestgreen;
}
#viewt {
    position: absolute;
    background-image: url('./dark_lizards.jpg');
    background-size: cover;
    right: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Gluten", cursive;
}
#readyb {
    font-size: 100px;
    font-weight: 1000;
    color: bisque;
    background-color: rgba(80, 120, 130, 0.8);
    font-family: "Rubik Mono One", monospace;
}
.card {
    background-image: url("./Light_green.jpg");
    background-size: cover;
    width: 200px;
    height: 300px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.cardName {
    align-self: center;
    text-align: center;
    font-family: "Gluten", cursive;
    font-size: 25px;
    word-wrap: break-word;
    text-align: center;
}
.description {
    justify-self: end;
    font-size: 15px;
    font-family: "Gluten", cursive;
    text-align: center;
    max-width: 180px;
    height: 80%;
    word-wrap: break-word;
}
.addStarv {
    color: red;
    font-weight: bold;
    font-size: 50px;
}